@media screen and (min-width: 1024px) {
    .opener {
        display: none;
    }

    .nav {
        display: flex;
    }

    .nav a {
        padding: 0 1rem;
    }
}

@media screen and (max-width: 1023px) {

    .opener {
        width: 48px;
        height: 48px;
        background-color: transparent;
        padding: 0;
    }

    .openIcon {
        margin: 12px;
        width: 24px;
        height: 24px;
        mask-image: url('/icons/hamburger.svg');
        mask-size: 24px;
        background-color: var(--color-surface-on);
    }

    .nav {
        position: absolute;
        top: 64px;
        right: 8px;
        height: 0px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
    }


    .nav.active {
        height: 7.5rem;
    }

    .nav a {
        background-color: var(--color-surface-container);
        border-radius: 8px;
        padding: 0 1rem;
        height: 3.5rem;
        line-height: 3.5rem;
    }
}