.theme{
    width: 48px;
    height: 48px;
    background-color: transparent;
    padding: 0;
}

.themeIcon{
    width: 36px;
    height: 36px;
    margin: 6px;
    mask-image: url('/icons/light_fill.svg');
    mask-size: 36px;
    background-color: var(--color-paragraph);
}


[data-theme='dark'] .themeIcon{
    width: 36px;
    height: 36px;
    margin: 6px;
    mask-image: url('/icons/dark_fill.svg');
    mask-size: 36px;
    background-color: var(--color-paragraph);
}

@media screen and (min-width: 1024px) {
    .opener {
        display: none;
    }

    .nav {
        display: flex;
        gap: 8px;
        position: relative;
        flex-direction: row;
    }

    .nav a{
        padding: 0 8px;
    }
}

@media screen and (max-width: 1023px) {

    .opener {   
        width: 48px;
        height: 48px;
        background-color: transparent;
        padding: 0;
    }

    .openIcon {
        margin: 6px;
        width: 36px;
        height: 36px;
        mask-image: url('/icons/hamburger.svg');
        mask-size: 36px;
        background-color: var(--color-paragraph);
    }

    .nav {
        position: absolute;
        top: 64px;
        right: 8px;
        height: 0px;
        overflow: hidden;
    }


    .nav.active {
        height: 108px;
    }

    .navwrap{
        display: flex;
        flex-direction: column;
        gap: 8px;
        height: fit-content;
        z-index: 100;
    }

    .nav a {
        background-color: var(--color-pre);
        border-radius: 8px;
        padding: 0 16px;
        height: 50px;
        line-height: 50px;
    }
}